@charset "utf-8";

.reservation {width:100%; padding: 0 10px; min-height: 500px; max-width:1000px; margin:0 auto; position:relative;}

.reservation-agree-popup {position:fixed; width:100%; height:100%; left:0; top:0; z-index:1000; background:rgba(0,0,0,0.5);}
.reservation-agree-popup h2 {font-size:18px; font-weight:bold; color: #000; padding:15px 0;}
.reservation-agree-popup h3 {font-weight:bold; color: #000; padding:20px 0 15px 0;}
.reservation-agree-popup .form {position: absolute; width:60%; left:20%; top:10%; border-radius:5px; padding:20px; box-shadow:0 0 10px rgba(0,0,0,0.5); background:#fff; border:1px solid #aaa;}
.reservation-agree-popup .form .scroll {width:100%; height:300px; padding:0 20px 20px 20px; border:1px solid #ddd; overflow: auto;}
.reservation-agree-popup label {cursor:pointer; display:block;}
.reservation-agree-popup input[type="checkbox"] {margin-right:10px;}
.reservation-agree-popup table {width:100%;}
.reservation-agree-popup table th {white-space:nowrap; background:#fafafa; padding:3px 5px; border:1px solid #ddd;}
.reservation-agree-popup table td {padding:3px 5px; border:1px solid #eee;}

.all-agree-wrapper {font-size:16px; font-weight:bold; color: #000; padding:20px; margin-top:-1px; border:1px solid #ddd;}

.reservation-select-popup {position:fixed; width:100%; height:100%; left:0; top:0; z-index:1000; background:rgba(0,0,0,0.5);}
.reservation-select-popup h2 {font-size:16px; font-weight:bold; color: #000; padding:15px 0;}
.reservation-select-popup .form {border-radius:5px; padding:15px; box-shadow:0 0 10px rgba(0,0,0,0.5); width:300px; position:fixed; left:50%; margin:-200px 0 0 -150px; top:50%; background:#fff;}
.reservation-select-popup .box {padding-top:10px;}
.reservation-select-popup label {border-bottom:1px solid #dddddd; padding: 10px; display:block;}
.reservation-select-popup label input {margin-right: 10px;}
.reservation-select-popup label .productName {margin-right: 5px; cursor:pointer; color:#000; font-size:18px; display:inline-block;}
.reservation-select-popup label .price {cursor:pointer; color:#666; padding-left:5px; display:inline-block;}
.reservation-select-popup label .orderStateCode {display:inline-block; padding:2px 7px; margin-left: 10px; border-radius:3px;}
.reservation-select-popup label.paid      {background: #f9f9f9; color:#f2f2f2; cursor: default;}
.reservation-select-popup label.pending   {background: #f9f9f9; color:#ffbebe; cursor: default;}
.reservation-select-popup label.available {background: #ffffff; color:#d9f6b8; cursor: pointer;}
.reservation-select-popup label.paid      .orderStateCode {background: #f2f2f2; color:#999; border:1px solid #dddddd;}
.reservation-select-popup label.pending   .orderStateCode {background: #ffbebe; color:#666; border:1px solid #e69898;}
.reservation-select-popup label.available .orderStateCode {background: #d9f6b8; color:#666; border:1px solid #b7dc8e;}

.reservation-form-popup {position:fixed; width:100%; height:100%; left:0; top:0; z-index:1000; background:rgba(0,0,0,0.5);}
.reservation-form-popup .form {position: absolute; width:60%; left:20%; top:10%; border-radius:5px; padding:20px; box-shadow:0 0 10px rgba(0,0,0,0.5); background:#fff; border:1px solid #aaa;}

.order-write-table {width:100%; margin-top:10px;}
.order-write-table th {width:140px; white-space: nowrap; padding:5px 10px; background:#f9f9f9; border:1px solid #ddd;}
.order-write-table td {padding:5px 10px; background:#fff; border:1px solid #ddd;}
.order-write-table td .totalPrice {color:#000; font-size:20px; font-weight:bold; padding:10px 0;}

@media (max-width: 1000px), (max-height: 800px) {
  .reservation-agree-popup .form,
  .reservation-form-popup .form {left:0; top:0; width:100%; height:100%; overflow:auto;}
}
